.button
{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.box
{
 border: 3px solid skyblue;
 margin: 10px;
 padding: 5px;
 width: 550px;
//  height: 1120px;
 float: left;
 text-align: center;
}
.a
{
    padding-left: 220px;
    padding-bottom: 80px;
}
h2
{
    color: blue;
}
h3
{
color: crimson;
}
